build
/pick.dot
/pick.ld.json
/pick.png
/pick.py
/pick.ttl
/pick.xml
/warehouse_order.*
/coordinated_pick.dot
/coordinated_pick.ld.json
/coordinated_pick.png
/coordinated_pick.py
/coordinated_pick.ttl
/coordinated_pick.xml
/provenance.ld.json
